# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
*.egg-info/
dist/
build/

# Render / deployment cache
.render/
